.Layout{
    
    background-image: url("C:/Users/com/Desktop/שונות/react/Project/BNK.JPG") no-repeat;
  
    display: grid;
    height:100%;
    grid-template-rows: 15%,80%,5%;
    grid-template-columns: repeat(6, 1fr);
    border-color:darkblue;
        
    }
    .Layout > Header, .Layout > Footer{
        grid-column: span 6;
    }
    .Layout > main {
        grid-column: span 5;
        
    }
   
    .Layout, .Layout > * {
        border: 1px solid blue;
    }
    