.Home{
    
    border-color: beige;
    color: darkblue;
    background-image: url('C:/Users/com/Desktop/Project/home1.JPG');
    width: 1000px;;
    height: 500px;
    
    
}

/*
background-image: url('C:/Users/com/Desktop/Project/home.JPG');
*/
